<div class="about">
  <div class="container">
<!--    <div class="about-title">-->
<!--      О нас-->
<!--    </div>-->
    <div class="about-content">

      <div class="about-image">
        <img src="assets/images/about-image.jpg" alt="about">
      </div>

      <div class="about-description">
        <div class="about-description-title">
          О нас
        </div>
        <div class="about-description-items">
          <div class="about-description-item">
            Приведем в лучшую форму. Воспитаем физические
            и морально-волевые качества
          </div>
          <div class="about-description-line"></div>
          <div class="about-description-item">
            С нами тренируются от 4 до 65 лет и старше.
            Группы для детей, начинающих взрослых, ветеранов,
            любителей, спортсменов, индивидуальные занятия
          </div>
          <div class="about-description-line"></div>
          <div class="about-description-item">
            Научим эффективным броскам, болевым и удушающим приемам, удержаниям
          </div>
          <div class="about-description-line"></div>
          <div class="about-description-item">
            Получите профессионального тренера, индивидуальное отношение, обучение по уникальным программам тренировок, включающее сдачу экзаменов на присвоение ученических степеней, соревнования по самбо, дзюдо!
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
