
<div class="details" [formGroup]="trainerInfoForm">
  <div class="container">
    <div class="details-title">
      Личная информация тренера
    </div>

    <div class="details-content">
      <div class="details-image" style="background-image: url('/assets/images/trainers/trainer1.jpg')"></div>
      <div class="details-info">
        <div class="auth-input">
          <input readonly type="text" class="input" placeholder="Имя" formControlName="firstName">
        </div>
        <div class="auth-input">
          <input readonly type="text" class="input" placeholder="Фамилия" formControlName="lastName">
        </div>
        <div class="auth-input">
          <input readonly type="text" class="input" placeholder="Телефон" formControlName="phoneNumber">
        </div>
        <div class="auth-input">
          <input readonly type="text" class="input" placeholder="Email" formControlName="email">
        </div>
        <div class="auth-input">
          <input readonly type="text" class="input" placeholder="Qualification" formControlName="qualification">
        </div>
        <!--      <div class="details-button">-->
        <!--        <button class="button" (click)="updateUserInfo()" [disabled]="!(trainerInfoForm.dirty && trainerInfoForm.valid)"> Сохранить </button>-->
        <!--        <button class="button delete" (click)="deleteUser()" > Удалить аккаунт </button>-->
        <!--      </div>-->
      </div>
    </div>

  </div>
</div>
